.container{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header{
    font-size: 30px;
    font-weight: 600;
}

.content{
    font-size: 20px;
    margin: 5px;
}

.btn{
    margin: 5px;
    border: 0px;
    border-radius: 5px;
    height: 30px;
    font-size: 20px;
    text-align: center;
}

.remove{
    background-color: red;
}

.watch{
    background-color: green;
}

.remove:hover{
    background-color:rgb(160, 18, 18);
}

.watch:hover{
    background-color: rgb(5, 62, 5);
}

.m-r{
    margin-right: 10px;
}

.bottom-bar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-r{
    color: red;
}

.heart:hover{
    color: blue;
}