<div class="container">
    <div class="header">{{mediaItem?.name}}</div>
    <div>
        <div class="content">{{mediaItem?.category}}</div>
        <div class="content">{{mediaItem?.year | date: 'yyyy'}}</div>
        <div class="bottom-bar">
            <svg
            (click)="onToggleFav(mediaItem)"
            xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart-fill m-r heart"  [ngClass]="{'c-r': mediaItem.isFavorite}" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
            </svg>
            <button class="btn watch">watch</button>
            <button class="btn remove"
            (click)="removeMediaItem(mediaItem)"
            >remove</button>
        </div>
    </div>
</div>