<div class="grid">
    <app-media-item [mediaItem]="mediaItem1"></app-media-item>
    <app-media-item [mediaItem]="mediaItem2"></app-media-item>
    <app-media-item [mediaItem]="mediaItem3"></app-media-item>
    <app-media-item [mediaItem]="mediaItem1"></app-media-item>
    <app-media-item [mediaItem]="mediaItem2"></app-media-item>
    <app-media-item [mediaItem]="mediaItem3"></app-media-item>
    <app-media-item [mediaItem]="mediaItem1"></app-media-item>
    <app-media-item [mediaItem]="mediaItem2"></app-media-item>
    <app-media-item [mediaItem]="mediaItem3"></app-media-item>
    <app-media-item [mediaItem]="mediaItem1"></app-media-item>
    <app-media-item [mediaItem]="mediaItem2"></app-media-item>
    <app-media-item [mediaItem]="mediaItem3"></app-media-item>
</div>
